body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h1{
    display: flex;
    background-color: salmon;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: column;
    background-color: salmon ;
}
li{
    text-align: right;
    list-style: none;
}
